//
// Brand colors
//

$blue-300: #0055A6;
$blue-200: #005EB8; // Pacific Blue
$blue-100: #337EC6;
$blue-000: #80AFDC;

$blue-dk-300: #003b5c; // Deep Blue Sea
$blue-dk-200: #47738D;
$blue-dk-100: #A3BDCC;
$blue-dk-000: #E6EEF2;

$blue-vibrant-300: #00a3e0; // Open Sky
$blue-vibrant-200: #46BDE9;
$blue-vibrant-100: #92D9F3;
$blue-vibrant-000: #CCF1FF;

$blue-lt-300: #b9d9eb; // Pacific Sky
$blue-lt-200: #C0DDED;
$blue-lt-100: #D5E8F3;
$blue-lt-000: #EAF4F9;

$white: #FFFFFF;

$grey-dk-300: #222222;
$grey-dk-200: #444444;
$grey-dk-100: #666666;
$grey-dk-000: #888888;

$grey-lt-300: #aaaaaa; 
$grey-lt-000: #dddddd;

$purple-000: #963CBD; 
$purple-100: #8736AA;
$purple-200: #692A84;
$purple-300: #4B1E5F;

$green-000: #2CD5C4; // Seafoam Mint
$green-100: #28C0B0;
$green-200: #1F9589;
$green-300: #166B62;

$yellow-000: #FFB81C; // Golden Poppy
$yellow-100: #CC9316;
$yellow-200: #996E11;
$yellow-300: #664A0B;

$red-000: #F65275; // Malibu Sunrise
$red-100: #DD4A69;
$red-200: #AC3952;
$red-300: #7B293B;


$lf-dark-blue: #123678;
$lf-light-blue: #3393FF;  
$body-background-color: #fff;
$sidebar-color: $grey-lt-000;
$code-background-color: $grey-lt-000;

$body-text-color: $grey-dk-200;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: $blue-200;
$link-color: $blue-300;
$btn-primary-color: $purple-300;
$base-button-color: $grey-lt-300;

/* Website Header & Footer */
$logo_width: 250px;

$attention-light: #4fb3e3;
$attention: #3bf; //formerly $green-medium, open sky
$attention-dark: #0082b3; //formerly $green-medium-dark, open sky, tent 1
$core:  #123678; //pacific blue

$warning-light: #ffc460; //golden poppy, tint 2
$warning: #ffb81c; //golden poppy
$warning-dark: #cc9316; //golden poppy, shade 1

$background-darkest:  #D9E1E2;
$background-darker: #f5f7f7; //SF Fog, tint 1
$background-lightest: #fff; //pure white

$line: #ccd3d6; //sf fog, shade 1
$line-lighter: #f6f8f8; // sf fog, tint 1
$highlight: #b9d9eb; //pacific sky, formerly $green-very-light
$highlight-lighter: #c7dfee;
$highlight-lightest: #f4f8fb;

$accent: #2cd5c4; //seafoam mint, formerly $green-light
$accent-dark: #1453bf; //deep blue sea, formerly $green-dark, $green-dark-text unused
$accent-light: #7b96a9; //deep blue sea, tint 2

$text: #002a3a; //midnight sky
$text-visited: #1d3c4b; //midnight sky, tint 1
$text-hover: #4c636f; //midnight sky, tint 2
$text-light: #647782; //midnight sky, tint 3
$text-light-darker: #4c636f; //midnight sky, tint 2
$text-light-darkest: #1d3c4b; //midnight sky, tint 1

$text-link-alternate: #0053b8; //pacific blue
$text-link-alternate-lighter: #137cc1; //pacific blue tint 1
$text-link-alternate-darker: #00529e;

@mixin respond-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
