@mixin serif {
  font-family: "Noto Serif", 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', serif;
}

@mixin sans-serif {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

@mixin condensed-sans-serif {
  font-family: "Open Sans Condensed", Impact, "Franklin Gothic Bold", sans-serif;
}

@mixin monospace {
  font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
  font-variant-ligatures: no-common-ligatures;  // disables the common ligatures only
  text-rendering: optimizeSpeed;  // for Safari 7.x
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
}
.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    text-align: right;
    opacity: 0.8;
}