:root {
  --max-width: 1400px;
  --two-column-width-main: 100%;
  --two-column-width-aside: 100%;
  --two-column-outer-side-padding: 0;
  --two-column-inner-side-padding: 0;
}

@media (min-width: 768px) {
  :root {
    --two-column-width-main: 62%;
    --two-column-width-aside: 30%;
    --two-column-inner-side-padding: 4%;
  }
}

@media (min-width: 1400px) {
  :root {
    --two-column-width-main: 62%;
    --two-column-width-aside: 30%;
    --two-column-inner-side-padding: 4%;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: $body-background-color;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  align-items: stretch;
  align-content: stretch;
  font-size: 1.8rem;
  @include sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @include sans-serif;
  font-weight: 400;
}

h1 {
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 3.2rem;
  color: #002a3a;
  margin: 3.8rem 0 1.3rem 0;
}

h1.center {
  margin: 2em 1em;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  margin: 3.8rem 0 1.3rem 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.2;
  color: #002a3a;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: $line;
}

a,
a:visited {
  color: $text-link-alternate;
  text-decoration: none;
}

p {
  margin: .5em 0;
}

.header {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;

  .width-limiter {
    flex-direction: row;
    align-items: center;
    max-width: var(--max-width);
    min-height: 80px;
    justify-content: space-between;
    color: #6983ff;
    width: 100%;
    padding: 10px;
    padding: 0 20px;

    @include respond-min(768px) {
      padding: 0 20px;
    }
  }

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
      width: 130px;
      height: 46px;
      display: block;
    }

    span {
      @include sans-serif;
      font-weight: 400;
      font-size: 6rem;
      line-height: 5.75rem;
      color: inherit;
      text-decoration: none;
      letter-spacing: -0.2rem;
      color: $lf-dark-blue;   
    }
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;
    @include sans-serif;

    font-size: 1.6rem;
    font-weight: 600;

    a {
      white-space: nowrap;
      color: inherit;
      cursor: pointer;
      padding: .5rem 0;
      border-bottom: none;

      @include respond-min(768px) {
        border-bottom: 3px solid;
        padding: 1rem 0;
        border-color: transparent;
      }
    }

    >a {
      &:hover {
        border-color: inherit;
        text-decoration: underline;

        @include respond-min(768px) {
          text-decoration: none;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
      gap: 1rem;

      &.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        margin-top: 1px;
        left: 0;
        right: 0;
        background: white;
        padding: 1.5rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        z-index: 1000;

        a, .has-submenu > span {
          padding: .75rem 0;
          display: block;
          width: 100%;
        }

        .submenu {
          position: static;
          box-shadow: none;
          padding-left: 1rem;
        }
      }
    }
  }
  .btn-menu {
    display: none;
    padding: 20px 0;
    cursor: pointer;
    background: none;
    gap: 0.625rem;
    justify-content: center;
    flex-direction: column;

    &:before {
      content: "";
      display: block;
      height: 2px;
      width: 2.5rem;
      background-color: #6983ff;
      transition-duration: .2s;
    }

    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 2.5rem;
      background-color: #6983ff;
      transition-duration: .2s;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.has-submenu {
  position: relative;
  display: block;
  align-items: center;

  @include respond-min(768px) {
    display: flex;
  }

  &:hover {
    > span {
      color: #04202a;
    }

    .submenu {
      display: flex;
    }
  }

  > span {
    cursor: pointer;
  }

  >a {
    &:hover {
      text-decoration: underline;

      @include respond-min(768px) {
        text-decoration: none;
      }
    }
  }

  .submenu {
    position: absolute;
    top: 100%;
    z-index: 9;
    display: block;
    flex-flow: column nowrap;
    background: #fff;
    min-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: .25rem 0;

    @include respond-min(768px) {
      display: none;
    }

    > a {
      padding: .5rem 1rem;

      &:hover {
        text-decoration: underline;
      }    
    }
  }
}

.body {
  flex-grow: 1;
  height: 100%;

  .width-limiter {
    background: #fff;
  }

  main {
    background: var(--background-light);
    padding: 1em var(--two-column-outer-side-padding);
  }

  aside {
    background: var(--background-shaded);
    padding: .5em var(--two-column-outer-side-padding) 1em;
  }

  @media (min-width: 768px) {
    .width-limiter {
      flex-flow: row nowrap;
    }

    main {
      width: var(--two-column-width-main);
      padding: 1em var(--two-column-inner-side-padding) 1em var(--two-column-outer-side-padding);

      &:first-child:last-child {
        width: 100%;
      }
    }

    aside {
      padding: .5em var(--two-column-outer-side-padding) 1em var(--two-column-inner-side-padding);
      flex-grow: 1;
      width: var(--two-column-width-aside);
    }
  }
}

.footer {
  background-color: #1a2026;
  @include sans-serif;
  font-size: 1.4rem;
  color: #fff;
  padding: 2rem 0;

  .icon-links {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include respond-min(768px) {
      flex-direction: row;
      border: none;
    }

    a {
      display: flex;
      align-items: center;
      color: #fff;

      &:hover {
        color: #fff;
        text-decoration: underline;
        opacity: 0.8;
      }

      img {
        margin-right: 5px;
      }
    }

  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-end;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    margin-top: 2rem;
    padding-top: 2rem;

    @include respond-min(768px) {
      flex-direction: row;
      border: none;
      margin-top: 0;
      padding-top: 0;
      }

    a {
      color: #fff;
      text-decoration: underline;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &_bottom {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;

    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;

    p {
      max-width: 720px;
      margin: 8px auto;
    }

    a {
      color: #6983ff;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.width-limiter {
  max-width: var(--max-width);
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 20px 0 20px;
  align-content: stretch;
  height: 100%;
  margin: 0 auto;

  .container.right-aside img {
    width: 100%;
    height: auto;
  }

  .container.right-aside iframe {
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

.left-aside {
  display: flex;
  width: 100%;
  background-color: #e2e8f0;
  flex-direction: column;

  @include respond-min(768px) {
    flex-direction: row-reverse;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 0 0.25rem 0;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

  }

  main {
    flex: 1;
    padding: 2rem;
  }

  .main-inner {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem 2rem 2rem;
  }

  aside {
    background-color: #f1f0fa;
    padding: 2rem;
    width: 100%;
    
    @include respond-min(768px) {
      max-width: 420px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 2rem 0;

      li {

        a {
          display: block;
          background-color: #d1d9ff;
          padding: 1.2rem;
          margin-bottom: 1rem;
          color: #000;
          text-transform: uppercase;
          cursor: pointer;
          font-weight: 600;

          &:hover {
            background-color: #b9c6ff;
          }
        }
      }
    }
  }
}

.topic-description {
  display: block;
  text-transform: none;
  font-size: 90%;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 0 -2rem 2rem;
  padding: 0 2rem 1rem;
  border-bottom: 1px solid rgb(104, 147, 238);

  label {
    margin-right: 10px;
    font-size: 80%;
  }

  input {
    flex: 1;
    width: 100%;
    min-width: 0px;
    outline: none;
    padding: 1rem;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50px;
    font-size: 80%;

    &:focus {
      border-color: #6983ff;;
    }
  }
}

.no-results-message {
  color: #30176e;
  padding: 5rem 2rem 7rem;
  text-align: center;

  span {
    font-size: 6rem;
    font-weight: 800;
  }
  
  h4 {
    font-size: 1.75rem;
    margin: 0.75rem 0;
  }

  p {
    font-size: 1.75rem;
    margin: 0;
  }
}

.row {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--max-width);

  .col {
    flex: 1 1 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .col-10 {
    @include respond-min(768px) {
      flex: 1 1 83.33%;
    }
  }

  .col-8 {
    @include respond-min(768px) {
      flex: 1 1 66.66%;
    }
  }

  .col-6 {
    @include respond-min(768px) {
      flex: 1 1 50%;
    }
  }

  .col-4 {
    @include respond-min(768px) {
      flex: 1 1 33.33%;
    }
  }

  .col_3 {
    @include respond-min(768px) {
      flex: 1 1 25%;
    }
  }
}

.page-title {
  max-width: var(--max-width);
  background: #fff;
  margin: 0 auto;
  padding: 2rem;
  color: $body-text-color;
  border-bottom: 1px dotted $lf-light-blue;
  font-weight: 300;
  font-size: 4rem;
  @include sans-serif;
}

.styled-title {
  padding-top: var(--chakra-space-16);
  padding-bottom: var(--chakra-space-16);
  color: var(--chakra-colors-white);
  text-align: center;
  background-image: linear-gradient(rgb(59, 42, 102), rgb(78, 81, 191));
  padding: 80px;

  h1 {
    @include sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    margin: 0;
    padding: 0;
  }
}

#principles {
  dl {
    counter-reset: principles;

    dt {
      counter-increment: principles;
      margin: 0;
      padding: 2rem 0 0;

      &:before {
        content: counter(principles) '. ';
        opacity: 0.6;
      }
    }

    p + dt {
      padding-top: 1rem;
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}

.headline {
  h1 {
    margin: 1.5em 1em 2em;
    text-align: center;
  }

  & ~ hr {
    margin: 2em 0 0;
  }

  & + hr {
    margin: 0 0 1.5em;
  }
}

.cta, a.cta {
  @include sans-serif;
  background: $text-link-alternate;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 30px auto 0;
  padding: 1em 1.5em;
  text-align: center;
}

aside {
  @include sans-serif;
  font-size: 1.5rem;
  color: $text-light-darker;

  h3 {
    font-size: 1.8rem;
    border-bottom: 1px solid $line;
    padding-bottom: .25em;
  }
}

.link-readmore {
  font-size: 1.2rem;
  @include sans-serif;
  display: inline-block;
  margin: .4em 0 .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:after {
    content: ' ›';
    font-size: 1.2em;
  }
}

.list-links-small {
  padding-left: 0;
  list-style: none;

  dt {
    font-weight: 400;
  }

  dd {
    padding-top: 2px;
  }
}

.bloglist {
  list-style: none;
  margin: 0;
  padding: 0;

  .meta {
    margin-top: 10px;
  }
}

.meta {
  @include sans-serif;
  font-size: 1.4rem;
  display: block;
  line-height: 1.4;
  margin: 2em 0 1em;
  color: $text-light;
}

.share-container {
  @include sans-serif;
  color: $text-light;

  padding-bottom: 2em;
}

#share-buttons {
  display: inline-block;
  vertical-align: middle;

  :after {
    content: '';
    display: block;
    clear: both;
  }

  > div {
    position: relative;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;

    > svg {
      height: 16px;
      fill: $background-darkest;
      margin-top: 10px;
    }
  }
  > div:hover {
    cursor: pointer;
  }
  > div.facebook:hover > svg {fill: #3B5998;}
  > div.twitter:hover > svg {fill: #55ACEE;}
  > div.linkedin:hover > svg {fill: #0077b5;}
  > div.mail:hover > svg {fill: #7D7D7D;}
  > div.facebook > svg {
    height: 18px;
    margin-top: 9px;
  }
  > div.twitter > svg {
    height: 20px;
    margin-top: 8px;
  }
  > div.linkedin > svg {
    height: 19px;
    margin-top: 7px;
  }
  > div.mail > svg {
    height: 14px;
    margin-top: 11px;
  }
}

.participants-container {
  @include sans-serif;
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

#participants-buttons {
  display: inline-block;
  vertical-align: middle;

  :after {
    content: 'Become a participant';
    display: block;
    clear: both;
  }

  > div {
    position: relative;
    height: 24px;
    width: 164px;
    float: left;
    text-align: center;

    > svg {
      height: 16px;
      fill: $background-darkest;
      margin-top: 10px;
    }
  }
  > div:hover {
    cursor: pointer;
  }
  > div.new-participants:hover > svg {fill: #3B5998;}
  > div.new-participants > svg {
    height: 18px;
    margin-top: 9px;
  }
}
.width-limiter .participant-list > div {
  margin-top: 1em;
  border: none;
  border-top: 1px solid $text-light;
  padding-top: 1em;
  h3 {
    margin-bottom: 0;
  }
  h3 + p {
    margin-top: 0;
  }
  .logo {
    display: block;
    width: 50%;
    img{
      width: auto;
      max-width: 100%;
    }
  }
}

.author-social-media {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

/* zola based on recommended code highlight snippet from docs: https://www.getzola.org/documentation/content/syntax-highlighting/ */
pre {
  padding: 2rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

.command-group {
  margin-bottom: 2rem;
  
  h2 {
    border-bottom: 1px solid $line;
    padding-bottom: 1rem;
    margin: 0;

    span {
      font-weight: 400;
    }
  }

  .command-entry {
    font-size: 1.5rem;
    border-bottom: 1px solid $line;
    padding: 1.25rem 0;

    a {
      text-decoration: underline;
    }
    
  }
}

.index-entry {
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}

.block-menu ul li {
  border: 1px solid $line;
  border-radius: 3px;
  a {
    display: block;
  }
}

.block-menu {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 1em;
    li {
      text-align: center;
      padding: 1em;
      flex: 1 1 0px;
      a {
        text-align: center;
        padding-bottom: 1em;
      }
    }
  }
}

.blocks-page {
  .container {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .block-menu ul {
    display: block;
    li {
      margin-bottom: 1em;
    }
  }
}



.author-container {
  display: flex;
  align-items: center;
  background-color: $grey-lt-000; /* Light grey background */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.author-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-right: 20px;
}

.author-info {
  flex: 1;
  text-align: left;
}
  
.banner {
  .width-limiter {
    padding-bottom: 10px;
  }

  background-color:  $grey-lt-300;
  color: $text;
  
  border-top: 1px solid $grey-dk-100;
}

.client-list {
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

  }


  .language-clients {
    margin-bottom: 3rem;

    .client-item {
      margin-bottom: 2rem;
      padding: 1rem;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      background-color: #fff;
      max-width: 1500px; 
      width: 100%;

      h3 {
        margin-top: 0;
        color: #222;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
    
        > li {
          position: relative;
          padding-left: 1.5em;
    
          &::before {
            content: "\2022";  
            position: absolute;
            left: 0.5em;
            color: #000; 
          }
    
          > ul > li {
            padding-left: 1.5em;
    
            &::before {
              content: "\25E6";  
              position: absolute;
              left: 0.5em;
              color: #000;  
            }
          }
        }
      }

      code, pre {
        background-color: #f5f5f5;
        padding: 0.2rem 0.4rem;
        border-radius: 3px;
        width:850px
      }
    }
  }
}

.feature-comparison-table {
  margin-top: 3rem;

  .table-container {
    padding: 0;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow-x: auto;

    table {
      width: 100%;
      border-collapse: collapse;
      th, td {
        padding: 8px 12px;
        text-align: center;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
      }

      th:first-child,
      td:first-child {
        position: sticky;
        left: 0;
        background-color: #fafafa; 
        z-index: 2;
      }
    }

    .table-header {
      background-color: #f4f4f4; 
      font-weight: bold;

      .table-header-cell {
        padding: 10px;
        color: #555;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #f4f4f4;
      }

      .table-header-cell:first-child {
        z-index: 3; 
      }
    }

    .table-row {
      &.even-row {
        background-color: #f9f9f9;
      }
      &.odd-row {
        background-color: #fff;
      }

      .table-cell {
        color: #444; 
        white-space: normal;
        word-wrap: break-word;

        &:first-child {
          font-weight: bold;
          color: #555;
        }
      }
    }
  }
}

.checkmark-true {
  color: green;
  font-weight: bold;
}

.checkmark-false {
  color: rgb(190, 9, 9);
  font-weight: bold;
}

// Hero Section Styles
.hero-section {
  position: relative;
  min-height: none;
  background-size: cover;
  background-position: center bottom;
  background-color: #30186e;
  background-image: linear-gradient(to bottom, rgba(48, 24, 110, 0.15), rgba(48, 24, 110, 0.75)), url('/img/hero-bg.webp');
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8rem 2rem;

  @include respond-min(768px) {
    padding: 8rem 2rem;
    min-height: 75vh;

  }
}

.hero-content {
    max-width: 1200px;
    text-align: center;
    z-index: 1;
    color: white;
}

.hero-heading {
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  letter-spacing: 2px;
  color: white;

  @include respond-min(768px) {
    font-size: 8rem;
  }
}

.hero-subtitle {
    font-size: 1.8rem;
    font-weight: 700;
    max-width: 800px;
    margin: 2rem auto 4rem;
    line-height: 1.6;
    color: rgba(255,255,255,0.9);
}

.hero-button {
  display: inline-block;
  line-height: 1.2;
  border-radius: 30px;
  font-weight: 600;
  height: auto;
  font-size: 2.4rem;
  color: #6983FF;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #ffffff, #B7C2F7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  min-width: 100%;

  @include respond-min(768px) {
    min-width: 380px;
  }
}

// Documentation Section Styles
.documentation-section {
  padding-bottom: 4rem;
  background-image: linear-gradient(rgb(48, 23, 110), rgb(105, 131, 255));
  position: relative;
  text-align: center;
  color: white;

  @include respond-min(768px) {
    padding-bottom: 8rem;
  }

  .col {
    max-width: 890px;
    margin: 0 auto;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  h2 {
    width: 100%;
    line-height: 1.2;
    font-size: 3.75rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1.75rem;

    @include respond-min(768px) {
      font-size: 6rem;
    }
  }

  p {
    margin-bottom: 2rem;
  }
}

.documentation-card-grid {
  margin-top: 4rem;

  @media (max-width: 1100px) {
    .col {
      flex: 1 1 50%;
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 768px) {
    .col {
      flex: 1 1 100%;
    }
  }
}

.documentation-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
  border-radius: 20px;
  color: white;
  background: #2d2471;

  @include respond-min(768px) {
    min-height: 100%;
  }

  h3 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    text-align: center;
    color: white;
    margin: 0 0 .5rem;
  }

  p {
    text-align: left;
    margin: 0;
  }

  ul {
    text-align: left;
    padding: 0 0 0 18px;
    margin: 10px 0 20px;
  }

  a.btn {
    color: white;
    border-radius: 24px;
    border: 1px solid currentcolor;
    padding: 1rem;
    margin-top: auto;
    text-decoration: none;
  }
}

// What's New Section Styles
.whats-new-section {
  padding: 4rem 2rem;
  background-image: linear-gradient(rgb(105, 131, 255), rgb(48, 23, 110));

  @include respond-min(768px) {
    padding: 8rem 0;
  }

  h2 {
    width: 100%;
    line-height: 1.2;
    font-size: 3.75rem;
    color: white;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1.75rem;

    @include respond-min(768px) {
      font-size: 6rem;
    }
  }
}

.whats-new-inner {
  display: flex;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);

  @include respond-min(768px) {
    padding: 4rem;
  }

  h3 {
    color: white;
    font-size: 2.75rem;
    font-weight: 700;
    width: 100%;
    margin: 0 0 1rem;
  }

  .inner-card {
    background: white;
    padding: 3rem;
    border-radius: 20px;
    margin: 0 0 3rem;

    h4 {
      margin: 0 0 1rem;
    }

    hr {
      margin: 2rem 0;
    }
  }
}
