:root {
  --max-width: 1400px;
  --two-column-width-main: 100%;
  --two-column-width-aside: 100%;
  --two-column-outer-side-padding: 0;
  --two-column-inner-side-padding: 0;
}

@media (min-width: 768px) {
  :root {
    --two-column-width-main: 62%;
    --two-column-width-aside: 30%;
    --two-column-inner-side-padding: 4%;
  }
}

@media (min-width: 1400px) {
  :root {
    --two-column-width-main: 62%;
    --two-column-width-aside: 30%;
    --two-column-inner-side-padding: 4%;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  background: $body-background-color;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  align-items: stretch;
  align-content: stretch;
  font-size: 1.8rem;
  @include sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @include sans-serif;
  font-weight: 400;
}

h1 {
  letter-spacing: -1px;
  line-height: 1.1;
  font-size: 3.2rem;
  color: #002a3a;
  margin: 3.8rem 0 1.3rem 0;
}

h1.center {
  margin: 2em 1em;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  margin: 3.8rem 0 1.3rem 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.2;
  color: #002a3a;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: $line;
}

a,
a:visited {
  color: $text-link-alternate;
  text-decoration: none;
}

p {
  margin: .5em 0;
}

.header {
  border-bottom: 1px solid $grey-lt-000;
  color: $lf-dark-blue;
  padding: 10px 0;

  .width-limiter {
    display: flex;
    gap: 2rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;

    @media all and (max-width: 768px) {
        flex-flow: column;
        align-items: center;
    }
  }

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
        width: 6rem;
        height: 6rem;
        display: block;
    }

    span {
    @include sans-serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 5.75rem;
    color: inherit;
    text-decoration: none;
    letter-spacing: -0.2rem;
    color: $lf-dark-blue;
    }
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    @include sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    @media all and (max-width: 480px) {
        gap: 1rem;
        display: grid;
        text-align: center;
    }

    a {
      white-space: nowrap;
      color: inherit;
      cursor: pointer;

      &:hover {
        color: #04202a;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
      }
    }
  }
}

.body {
  flex-grow: 1;
  height: 100%;
  margin-bottom: 20px;

  .width-limiter {
    background: #fff;
  }

  main {
    background: var(--background-light);
    padding: 1em var(--two-column-outer-side-padding);
  }

  aside {
    background: var(--background-shaded);
    padding: .5em var(--two-column-outer-side-padding) 1em;
  }

  @media (min-width: 768px) {
    .width-limiter {
      flex-flow: row nowrap;
    }

    main {
      width: var(--two-column-width-main);
      padding: 1em var(--two-column-inner-side-padding) 1em var(--two-column-outer-side-padding);

      &:first-child:last-child {
        width: 100%;
      }
    }

    aside {
      padding: .5em var(--two-column-outer-side-padding) 1em var(--two-column-inner-side-padding);
      flex-grow: 1;
      width: var(--two-column-width-aside);
    }
  }
}

.footer {
  border-top: 1px solid $grey-dk-100;
  background-color: $grey-lt-300;
  @include sans-serif;
  font-size: 1.4rem;

  .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 4em;
  }

  nav {
    font-size: 1.5rem;
    font-weight: 600;

    h4 {
      font-weight: 400;
      @include sans-serif;
      font-size: 1.5rem;
    }

    a {
      display: list-item;
      list-style: none;
      white-space: nowrap;
      margin-bottom: 1em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.width-limiter {
  max-width: var(--max-width);
  display: flex;
  flex-flow: column nowrap;
  padding: 10px 20px 0 20px;
  align-content: stretch;
  height: 100%;
  margin: 0 auto;

  .container.right-aside img {
    width: 100%;
    height: auto;
  }

  .container.right-aside iframe {
    @media all and (max-width: 768px) {
      width: 100%;
    }
  }
}

.page-title {
  max-width: var(--max-width);
  background: #fff;
  margin: 0 auto;
  padding: 2rem;
  color: $body-text-color;
  border-bottom: 1px dotted $lf-light-blue;
  font-weight: 300;
  font-size: 4rem;
  @include sans-serif;
}

#principles {
  dl {
    counter-reset: principles;

    dt {
      counter-increment: principles;
      margin: 0;
      padding: 2rem 0 0;

      &:before {
        content: counter(principles) '. ';
        opacity: 0.6;
      }
    }

    p + dt {
      padding-top: 1rem;
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}

.headline {
  h1 {
    margin: 1.5em 1em 2em;
    text-align: center;
  }

  & ~ hr {
    margin: 2em 0 0;
  }

  & + hr {
    margin: 0 0 1.5em;
  }
}

.cta, a.cta {
  @include sans-serif;
  background: $text-link-alternate;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: block;
  margin: 30px auto 0;
  padding: 1em 1.5em;
  text-align: center;
}

aside {
  @include sans-serif;
  font-size: 1.5rem;
  color: $text-light-darker;

  h3 {
    font-size: 1.8rem;
    border-bottom: 1px solid $line;
    padding-bottom: .25em;
  }
}

.sidebar-repo,
.whats-new-post {
  h4 {
    margin-top: 1.25em;
    margin-bottom: .25em;
  }

  p {
    margin-top: .5em;
  }
}

.link-readmore {
  font-size: 1.2rem;
  @include sans-serif;
  display: inline-block;
  margin: .4em 0 .8em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:after {
    content: ' ›';
    font-size: 1.2em;
  }
}

.list-links-small {
  padding-left: 0;
  list-style: none;

  dt {
    font-weight: 400;
  }

  dd {
    padding-top: 2px;
  }
}

.bloglist {
  list-style: none;
  margin: 0;
  padding: 0;

  .meta {
    margin-top: 10px;
  }
}

.meta {
  @include sans-serif;
  font-size: 1.4rem;
  display: block;
  line-height: 1.4;
  margin: 2em 0 1em;
  color: $text-light;
}

.share-container {
  @include sans-serif;
  color: $text-light;

  padding-bottom: 2em;
}

#share-buttons {
  display: inline-block;
  vertical-align: middle;

  :after {
    content: '';
    display: block;
    clear: both;
  }

  > div {
    position: relative;
    height: 36px;
    width: 32px;
    float: left;
    text-align: center;

    > svg {
      height: 16px;
      fill: $background-darkest;
      margin-top: 10px;
    }
  }
  > div:hover {
    cursor: pointer;
  }
  > div.facebook:hover > svg {fill: #3B5998;}
  > div.twitter:hover > svg {fill: #55ACEE;}
  > div.linkedin:hover > svg {fill: #0077b5;}
  > div.mail:hover > svg {fill: #7D7D7D;}
  > div.facebook > svg {
    height: 18px;
    margin-top: 9px;
  }
  > div.twitter > svg {
    height: 20px;
    margin-top: 8px;
  }
  > div.linkedin > svg {
    height: 19px;
    margin-top: 7px;
  }
  > div.mail > svg {
    height: 14px;
    margin-top: 11px;
  }
}

.author-social-media {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.has-submenu {
  position: relative;

  &:hover {
    > span {
      color: #04202a;
    }

    .submenu {
      display: flex;
    }
  }

  > span {
    cursor: pointer;
  }

  .submenu {
    position: absolute;
    z-index: 9;
    display: none;
    flex-flow: column nowrap;
    background: #fff;
    min-width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: .25rem 0;

    > a {
      padding: .5rem 1rem;
    }
  }
}

/* zola based on recommended code highlight snippet from docs: https://www.getzola.org/documentation/content/syntax-highlighting/ */
pre {
  padding: 2rem;
  overflow: auto;
}
// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

.command-entry {
  border-bottom: 1px dotted $line;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.author-container {
  display: flex;
  align-items: center;
  background-color: $grey-lt-000; /* Light grey background */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.author-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin-right: 20px;
}

.author-info {
  flex: 1;
  text-align: left;
}
  
.banner {
  .width-limiter {
    padding-bottom: 10px;
  }

  background-color:  $grey-lt-300;
  color: $text;
  
  border-top: 1px solid $grey-dk-100;
}
