{% for arguments in include.arguments_array %}
    
    {% capture arguments_str %}    
        {% if arguments.optional ==  true %}[{% elsif arguments.type == "oneof"%}〈{%endif%}
        {% if arguments.type !=  "pure-token" and arguments.token %}
            {{ arguments.token }}
        {% endif %}
        {% if arguments.type !=  "block"  and arguments.type !=  "oneof" %}
            {{ arguments.name }}
        {% endif %}

        {% if arguments.type == "oneof" %}
           {%  include command/arguments.html arguments_array=arguments.arguments separator="|" %}
        {% else %}
            {%  include command/arguments.html arguments_array=arguments.arguments %}
        {% endif  %}
        {% if include.separator == "|" and forloop.last == false %} | {% endif %}
        
        {% if arguments.optional ==  true %}]{% elsif arguments.type == "oneof"%}〉{%endif%}
    {% endcapture %}
    {{ arguments_str }}

    {% if arguments.multiple %}
        [ {{ arguments_str }} ...]
    {% endif %}
{% endfor %}