---
layout: simple
title: Bitpos
primary_title: Bitpos
---

{% for command in site.data.commands.latest.bitpos %}
    {% assign command_name = command[0] %}
    {% assign command_description_file = "commands/FILE.md" | replace: "FILE", command[0] %}
    {% assign command_details = command[1] %} 
    <h2>{{ command_name }}</h2>
    <p>{{ command_details.summary }}</p>
    
    <code>
        {{ command_name }} {%  include command/arguments.html arguments_array=command_details.arguments %} 
    </code><br /><br />
    <dl>
        <dt>Complexity:</dt>
        <dd>{{ command_details.complexity }}</dd>
    </dl>
    <dl>
        <dt>Since:</dt>
        <dd>{{ command_details.since }}</dd>
    </dl>
    {% capture description %}{% include {{ command_description_file }}  %}{% endcapture %}
    {{ description | markdownify }}
    <h3>History</h3>
    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Change</th>
            </tr>
        </thead>

        <tbody>
            {% for history_line in command_details.history %}
            <tr>
                <td>{{history_line[0]}}</td>
                <td>{{history_line[1]}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <br />
    <hr />
    <br />
    <br />
    <code>
        {{ command_details | inspect }}
    </code>

{% endfor %}


