<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="ALL" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="Copyright" content="" />
    <meta name="keywords" content="open-source, valkey" />
    <meta name="description" content="{{ page.description}}" />

    {{ page.link_rel_tags }}
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{'assets/img/touch-icon.png' | relative_url }}">
    <link rel="icon" sizes="192x192" href="{{'assets/img/touch-icon.png' | relative_url }}">
    <link rel="shortcut icon" href="{{'assets/img/favicon.ico' | relative_url }}">
    <meta name="msapplication-TileColor" content="#113228">
    <meta name="msapplication-TileImage" content="{{'assets/img/icon-tile.png' | relative_url }}">

    {% assign pagetitle = page.title | | strip_newlines %}
    <title>{% if pagetitle != "" %} {{ page.title | append: " &middot;" }} {% endif %} Valkey</title>

    <link rel="stylesheet" href="{{'assets/css/styles.css' | relative_url }}">


    <!-- Google tag (gtag.js)
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6M0FF13NRB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6M0FF13NRB');
    </script> -->

    {{ page.head_extra }}
</head>