<strong>Release Date:</strong> {{include.content.date | date: "%a, %b %d, %Y"}}<br/>
<strong>GitHub Release:</strong> <a href="https://github.com/valkey-io/valkey/releases/tag/{{include.content.tag}}">{{include.content.tag}}</a><br />
<hr />
{% for registry in include.content.container_registry %}
    <h2>{{registry.name}} <small>(<a href="{{registry.link}}">{{registry.id}}</a>)</small></h2>
    <p>Tags:</p>
    <ul>
        {% for tag in registry.tags %}
            <li><code>{{ registry.id }}:{{ tag }}</code></li>
            {% if forloop.first %}
                {% capture first_tag %}{{ registry.id }}:{{ tag }}{% endcapture %}
            {% endif %}
        {% endfor %}
    </ul>
    <p>Example: <code>docker run --rm {{first_tag}}</code></p>
    <hr />
{% endfor %}
{% if include.content.packages %}
<h2>Package Managers</h2>
    {% for package_manager in include.content.packages %}
        <h3>{{package_manager.name}}:</h3>
        Package Name: 
        {% if package_manager.url %}
            <a href="{{package_manager.url}}">{{ package_manager.id }}</a>
        {% else %}
            {{ package_manager.id }}
        {% endif %}
    {% endfor %}
{% endif %}
<h2>Binary Artifacts</h2>
{% for artifact in include.content.artifacts %}
    {% for arch in  artifact.arch %}
        {% capture fname %}{{include.content.artifact_source}}{{include.content.artifact_fname}}-{{include.content.tag}}-{{artifact.distro}}-{{arch}}.tar.gz{% endcapture %}
        <a href="{{fname}}">{{arch}} / {{artifact.distro}}</a> <small>(<a href="{{fname}}.sha256">sha256</a>)</small><br />
    {% endfor %}
{% endfor  %}