---
layout: simple
title: Commands
primary_title: Commands
---

{% for commands_array in site.data.commands.latest %}
    {% assign command_id = commands_array[0] %}
    {% assign command_obj = commands_array[1] %}
    {% for command in command_obj %}
        {% assign command_name = command[0] %}
        {% assign command_details = command[1] %}
        {% capture container_and_command %}{{command_details.container }} {{ command_name }}{% endcapture %}
        <div class="command-entry">
            <code><a href="./{{ command_id }}/">{{ container_and_command }}</a></code> {{ command_details.summary }}
        </div>        
    {% endfor %}
{% endfor %}
