{%- macro load(slug) -%}
{%- set topic_path = config.extra.doc_topic_path -%}
{%- if slug in config.extra.slug_source_exceptions -%}
    {%- set slug = config.extra.slug_source_exceptions[slug] -%}
{%- endif -%}
{%- set markdown_content = load_data(path= topic_path ~ "/" ~ slug ~ ".md", required= false) -%}
{%- if markdown_content -%}{{ markdown_content }}{% endif %}
{% endmacro load_doc %}

{%- macro remove_valkey_title(title) -%}
{%- if title is starting_with("Valkey") -%}
{%- set noValkey = title | replace(from="Valkey ", to="") -%}
{%- for letter in noValkey -%}
  {%- if loop.index == 1 -%}
    {{ letter | upper }}
  {%- else -%}
    {{ letter }}
  {%- endif -%}
{%- endfor -%}
{%- else -%}
{{ title }}
{%- endif -%}
{%- endmacro remove_valkey_title -%}

{%- macro extract_frontmatter(content) %}
{%- set markdown_split = content | split(pat="---") -%}
{%- set markdown_part_count = markdown_split | length() -%}
{%- if markdown_part_count >= 3 -%}
{%- set before_frontmatter = markdown_split | nth(n=0) -%}
{%- set before_frontmatter_length = before_frontmatter | length() -%}
{%- set frontmatter = markdown_split | nth(n=1) -%}
{%- if before_frontmatter_length == 0 -%}{{frontmatter}}{%- endif -%}
{%- endif -%}
{%- endmacro extract_frontmatter %}

{%- macro extract_markdown(content) %}
{{ content | split(pat="---") | slice(start=2) | join(sep="---") }}
{%- endmacro extract_frontmatter %}

{%- macro fix_links(content) -%}
{{ content 
        | regex_replace(pattern=`\]\(#(?P<hash>.*?\))`, rep=`](--$hash`)
        | regex_replace(pattern=`\]\((?P<url>httpsd?:\/\/.*?\))`, rep=`](-$url`)
        | regex_replace(pattern=`\]\(\.\./commands/(?P<fname>\w.*?)(.md)?#(?P<hash>.*?)\)`, rep=`](/commands/$fname#$hash)`) 
        | regex_replace(pattern=`\]\(\.\./commands/(?P<fname>\w.*?)(.md)?\)`, rep=`](/commands/$fname)`)
        | regex_replace(pattern=`\]\(\.\./commands/#(?P<hash>\w.*?)\)`, rep=`](/commands/#$hash)`) 
        | regex_replace(pattern=`\]\((?P<fname>\w.*?)(.md)\)`, rep=`](/topics/$fname)`)
        | regex_replace(pattern=`\]\((?P<fname>\w.*?)(.md)?#(?P<hash>.*?)\)`, rep=`](/topics/$fname#$hash)`)
        | regex_replace(pattern=`\]\((?P<fname>.*?).png\)`, rep=`](/topics/$fname.png)`)
        | regex_replace(pattern=`\]\((?P<fname>.*?).gif\)`, rep=`](/topics/$fname.gif)`)
        | regex_replace(pattern=`\]\((?P<fname>\w.*?)(.md)?\)`, rep=`](/topics/$fname)`)
        | regex_replace(pattern=`\]\(\-(?P<url>https?:\/\/.*?\))`, rep=`]($url`)
        | regex_replace(pattern=`\]\(\--(?P<hash>.*?\))`, rep=`](#$hash`)
        | regex_replace(pattern=`\.\.\/commands\/`, rep=`/commands/`)

        | regex_replace(pattern=`\[(?<id>.*)\]:\s*https://(?P<url>.*)`, rep=`[$id} https://$url`)

        | regex_replace(pattern=`\[(?<id>.*)\]:\s*(?P<topic>.*)(\.md)`, rep=`[$id]: /topics/$topic`)

        | regex_replace(pattern=`\]\(\/topics\/(?P<url>http:\/\/.*?\))`, rep=`]($url`)



        | regex_replace(pattern=`\[(?<id>.*)\}\s*(?P<url>.*)`, rep=`[$id]: $url`)
}}
{%- endmacro fix_links -%}
