<div class="author-container">
  <div class="author-photo-container">
    {% if author_page.extra and author_page.extra.photo %}
    <img class="author-photo" src="{{ author_page.extra.photo }}" alt="photo of {{author_page.title}}" />
    {% endif %}
  </div>
  <div class="author-info">
    <h4>{{author_page.title}}</h4>
    {% if author_page.extra and author_page.extra.github %}
    <a target="_blank" href="https://github.com/{{author_page.extra.github}}"><i class="icon icon-github-square"></i> @{{author_page.extra.github}}</a>
    {% endif %}
    {{ author_page.content | safe }}
  </div>
</div>