<div class="row footer-email-list" id="email-signup">
    <div class="col col-4">
        <h2>Subscribe for updates, event info, and the latest Valkey news</h2>

        <p>Stay connected with everything happening in the Valkey ecosystem: news, community stories, updates, and opportunities to get involved.</p>
        <p>Subscriptions are open to all, so invite a friend or teammate. Thanks for joining and happy reading!</p>
    </div>
    <div class="footer-form col col-8">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
        hbspt.forms.create({
            portalId: "8112310",
            formId: "7d793edf-4628-41c5-8c66-1a40a5b345b6",
            region: "na1"
        });
        </script>
    </div>
</div>