<div class="row footer-email-list">
    <div class="col col-4">
        <h2>Subscribe for updates, event info, and the latest Valkey news</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id ex quis neque finibus bibendum. Quisque ullamcorper nibh at nulla vehicula laoreet. Maecenas lobortis eros non rhoncus vestibulum. Ut a efficitur eros. Donec nec ex magna. Nullam nisi sapien, molestie ut nunc a, gravida laoreet lorem. Praesent luctus elementum nunc vel sagittis. Quisque vitae felis eu metus pellentesque elementum. Donec massa diam, vehicula a nunc sed, viverra facilisis massa. Integer vel orci ex.</p>
    </div>
    <div class="footer-form col col-8">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
        hbspt.forms.create({
            portalId: "8112310",
            formId: "7d793edf-4628-41c5-8c66-1a40a5b345b6",
            region: "na1"
        });
        </script>
    </div>
</div>