<strong>Release Date:</strong>  {{ release_date | date(format="%Y-%m-%d") }} <br/> 
<strong>GitHub Release:</strong> <a href="https://github.com/valkey-io/valkey/releases/tag/{{release.tag}}">{{release.tag}}</a><br />
<hr />
{% for registry in release.container_registry %}
    <h2>{{registry.name}} <small>(<a href="{{registry.link}}">{{registry.id}}</a>)</small></h2>
    <p>Tags:</p>
    <ul>
        {% for tag in registry.tags %}
            <li><code>{{ registry.id }}:{{ tag }}</code></li>
            {% if loop.first %}
                {% set_global first_tag = registry.id ~ ":" ~ tag %}
            {% endif %}
        {% endfor %}
    </ul>
    <p>Example: <code>docker run --rm {{first_tag}}</code></p>
    <hr />
{% endfor %}
{% if release.packages %}
<h2>Package Managers</h2>
    {% for package_manager in release.packages %}
        <h3>{{package_manager.name}}:</h3>
        Package Name: 
        {% if package_manager.url %}
            <a href="{{package_manager.url}}">{{ package_manager.id }}</a>
        {% else %}
            {{ package_manager.id }}
        {% endif %}
    {% endfor %}
{% endif %}
<hr />
<h2>Binary Artifacts</h2>
{% if release.artifacts %}
{% for artifact in release.artifacts %}
    {% for arch in  artifact.arch %}
        {% set fname = release.artifact_source ~ release.artifact_fname ~ "-" ~ release.tag ~ "-" ~ artifact.distro ~ "-" ~ arch ~ ".tar.gz" %}
        {# {% capture fname %}{{include.content.artifact_source}}{{include.content.artifact_fname}}-{{include.content.tag}}-{{artifact.distro}}-{{arch}}.tar.gz{% endcapture %} #}
        <a href="{{fname}}">{{arch}} / {{artifact.distro}}</a> <small>(<a href="{{fname}}.sha256">sha256</a>)</small><br />
    {% endfor %}
{% endfor  %}
{% endif %}