{% extends "right-aside.html" %}

{% block main_content %}
    {% set author_page = page %}
    {% include "includes/author_panel.html" %}
    {% set blog_section = get_section(path="blog/_index.md") %}
    <h4>Posts by {{page.title}}</h4>
    <ul>
    {% for blogpost in blog_section.pages %}
        {% if page.slug in blogpost.authors  %}
        <li><a href="{{ blogpost.permalink }}">{{ blogpost.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock main_content %}

{% block related_content %}
    <h4>Other Authors</h4>
    {% set authors_section = get_section(path="authors/_index.md") %}
    <ul>
    {% for author in authors_section.pages %}
        {% if page.title != author.title %}
            <li><a href="{{ author.permalink | safe }}">{{ author.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>


{% endblock related_content %}