{% extends "right-aside.html" %}

{% block main_content %}
    {% set author_page = page %}
    {% include "includes/author_panel.html" %}
{% endblock main_content %}

{% block related_content %}
    <h4>Other Authors</h4>
    {% set authors_section = get_section(path="authors/_index.md") %}
    <ul>
    {% for author in authors_section.pages %}
        {% if page.title != author.title %}
            <li><a href="{{ author.permalink | safe }}">{{ author.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock related_content %}