{% extends "blog-aside.html" %}

{% block subhead_content %}
  <div class="styled-title">
    <h1>{{ section.title }}</h1>
    <p>{{ section.description }}</p>
  </div>
{% endblock subhead_content %}

{% block main_content %}
  <ul class="blog-list">
    {% for page in section.pages %}
    <li>
      <h2><a href="{{ page.permalink }}">{{ page.title  | safe}}</a></h2>
      <div class="meta">{{ page.date | date(format="%A %B %e, %Y") }}</div>
      <p>{{ page.description | safe }}</p>
      <a class="link-readmore" href="{{ page.permalink  }}">Read More</a>
    </li>
    {% endfor %}
  </ul>
{% endblock main_content %}

{% block related_content %}
  <div class="blog-trending">
    <h2>Trending</h2>

    {% set blog_post_section = get_section(path="blog/_index.md") %}
      {% set trending_posts = blog_post_section.pages | filter(attribute="extra.trending", value=true) | slice(end=4) %}
        {% for post in trending_posts %}
          <div class="blog-trending-card">
            {% if post.extra.featured_image %}
              <img src="{{ post.extra.featured_image }}" alt="{{ post.title }} featured image" class="blog-featured-image"/>
            {% endif %}
            <div class="info">
              <h4><a href="{{ post.permalink }}">{{ post.title }}</a></h4>
              <p>{{ post.description }}</p>
              <a class="read-more" href="{{ post.permalink }}">Read More</a>
            </div>
          </div>
        {% endfor %}
  </div>
{% endblock related_content %}