{% extends "blog-single.html" %}
{% block main_content %}

{% if page.extra.featured_image %}
  <img src="{{ page.extra.featured_image }}" alt="{{ page.title }}" class="feature-img">
{% endif %}

<h1>{{ page.title }}</h1>
<div class="meta">
  {{ page.date | date(format="%Y-%m-%d") }}
  {% if page.authors %}
    &middot; 
    {% for author in page.authors %}
      {% set author_path = "authors/" ~ author ~ ".md" %}
      {% set author_page = get_page(path=author_path) %}
      <em>{{ author_page.title }}</em>{% if loop.last != true %},{% endif %}
    {% endfor %}
  {% endif %}
</div>
{{ page.content | safe }}
{% endblock main_content%}

{% block related_content %}
<div class="blog-authors">
  {% if page.authors %}
    <h2>About the authors</h2>
    {% for author in page.authors %}
      {% set author_path = "authors/" ~ author ~ ".md" %}
      {% set author_page = get_page(path=author_path) %}
      {% include "includes/author_panel.html" %}
    {% endfor %}
  {% endif %}
</div>

{% include "includes/share-buttons.html" %}
<div class="blog-nav">
  {% if page.higher and page.higher.title %}
  <a class="prev" href="{{page.higher.permalink}}">&laquo; {{page.higher.title}}</a>
  {% endif %}
  {% if page.lower and page.lower.title %}
  <a class="next" href="{{page.lower.permalink}}">{{page.lower.title}} &raquo; </a>
  {% endif %}
</div>
{% endblock related_content %}