{% extends "right-aside.html" %}
{% import "macros/docs.html" as docs %}

{% block subhead_content %}
<h1 class="page-title">Documentation: Clients</h1>
{% endblock subhead_content %}

{% block main_content %}
    <div class="markdown-content">
        {{ section.content | markdown | safe }}
    </div>

    <div class="client-list">
        <h2>Table of Contents</h2>
        <ul>              
            {% set languages = [] %}
            {% for path in section.extra.recommended_clients_paths %}
                {% set language = path | split(pat="/") | nth(n=1) %}
                {% if language not in languages %}
                    {% set_global languages = languages | concat(with=language) %}
                {% endif %}
            {% endfor %}
            {% for language in languages %}
            <li><a href="#{{ language | slugify }}">{{ language | title }}</a></li>
            {% endfor %}
            <li><a href="#feature-comparison-table">Feature Comparison Table</a></li>
        </ul>
        {% for language in languages %}
            <div class="language-clients">
                <h2 id="{{ language | slugify }}">{{ language | title }}</h2>
                {% for path in section.extra.recommended_clients_paths %}
                    {% set client = load_data(path = docs::client_json_path(client_path= path), format="json") %}
                    {% if client.language == language %}
                    <div class="client-item" >
                        <h3 id="{{ client.name | slugify }}">{{ client.name }}</h3>
                        <ul>
                            <li><strong>GitHub:</strong> <a href="{{ client.github }}">{{ client.name }}</a></li>
                            <li>
                                <strong>Installation:</strong>
                                {% if client.installation is iterable %}
                                    <ul>
                                        {% for installation_type in client.installation %}
                                            <li>
                                                {{ installation_type.type }}:
                                                <pre>{{ installation_type.command }}</pre>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <code>{{ client.installation }}</code>
                                {% endif %}
                            </li>
                            <li><strong>Description:</strong> {{ client.description }}</li>
                            {% if client.specific_properties %}
                                <li><strong>Specific Properties:</strong>
                                    <ul>
                                        {% for property in client.specific_properties %}
                                            <li> {{ property }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>                    
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div  id="feature-comparison-table" class = "feature-comparison-table" >
        {% set client_paths = section.extra.recommended_clients_paths %}
        {% set client_fields = section.extra.client_fields %}
        {% include "client-feature-table.html" %}
    </div>
{% endblock main_content %}