{% import "macros/docs.html" as docs %}

{% block main_content %}
    <hr/>
    <h2 >Feature Comparison Table</h2>

    <div class="table-container">
        <table >
            <thead>
                <tr class="table-header">
                    {% for header in client_fields %}
                        <th class="table-header-cell">{{ header | replace(from="_", to=" ") |  title | replace (from= "Az", to= "AZ") }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {%- for path in client_paths %}
                    {% set json_data = load_data(path = docs::client_json_path(client_path= path), format="json") %}
                    <tr class="table-row {% if loop.index is even %}even-row{% else %}odd-row{% endif %}">
                        {% for field in client_fields %}
                            <td class="table-cell">
                                {% if field not in ["name", "language"] %}
                                    {{ docs::boolean_to_checkmark(value=json_data[field]) }}
                                {% else %}
                                    {{ json_data[field] }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
{% endblock main_content %}