{% extends "default.html" %}

{% block content %}
  
  <div class="community-section">
    <div class="community-header">
      {{ page.content | markdown | safe }}
    </div>
    {% if page.extra.cards %}
      <div class="community-card-grid">
        {% for card in page.extra.cards %}
          <div class="community-card">
            <img src="/img/{{ card.icon }}" alt="{{ card.title }}" class="community-card-icon" />
            <h3>{{ card.title }}</h3>
            <p>{{ card.description }}</p>
            <div class="community-card-actions">
              {% for link in card.links %}
                <a href="{{ link.url }}" class="btn" target="_blank">{{ link.text }}</a>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %} 