{%- block head -%}{%- endblock -%}<!DOCTYPE html>
<html lang="{{ page.lang | default(value=config.default_language) }}">
{% include "includes/head.html" %}
<script>
// Banner state management: Check localStorage before DOM renders to prevent layout shift
// and ensure banner visibility state is consistent with user's previous interactions.
(function() {
  const bannerClosedTime = localStorage.getItem('bannerClosedTime');
  if (bannerClosedTime) {
    const closedTime = parseInt(bannerClosedTime, 10);
    const twentyFourHours = 24 * 60 * 60 * 1000; // 24 hours in ms
    if (Date.now() - closedTime < twentyFourHours) {
      document.documentElement.classList.add('banner-hidden');
    } else {
      // Clear expired timestamp
      localStorage.removeItem('bannerClosedTime');
    }
  }
})();
</script>
<body 
  {%- if page.extra.sectionid -%} id="{{ page.extra.sectionid }}"{%- endif -%}
  {% if page.extra.body_class %} class="{{ page.extra.body_class }}"{% endif %}
  {% if section.extra.body_class %} class="{{ section.extra.body_class }}"{% endif %}
  >
  {%- if config.extra.banner -%}
  <div class="banner">
    <div class="width-limiter">
      {{ config.extra.banner | markdown | safe}}
    </div>
    <a href="/" class="close-banner">
      <img src="/img/icon-outline-close.svg" alt="Icon Close" width="16" height="16"/>
    </a>
  </div>
  {%- endif -%}
  <div class="header">
    <div class="width-limiter">
      <a href="/" class="logo">
        <img src="/img/valkey-horizontal.svg" alt="Valkey Logo" width="130" height="46"/>
      </a>
      <div role="button" 
        class="btn-menu"
        onclick="window.toggleHeaderMenu();"
      ></div>
      <nav role="navigation" aria-label="Main">
        <a role="menuitem" href="/download/">Download</a>

        <div class="has-submenu">
          <a role="menuitem" href="/docs/">Documentation</a>
          <div class="submenu">
            <a role="menuitem" href="/commands/">Command Reference</a>
            <a role="menuitem" href="/topics/">Documentation by Topic</a>
            <a role="menuitem" href="/clients/">Client Libraries</a>
          </div>
        </div>
        <a role="menuitem" href="/blog/">Blog</a>
        <a role="menuitem" href="/community/">Community</a>
        <a role="menuitem" href="/participants/">Participants</a>
        <a role="menuitem" href="/try-valkey/">Try Valkey</a>
        <a role="menuitem" href="https://github.com/valkey-io" target="_blank" class="github-button">
          <img src="/img/IconGithub.svg" alt="GitHub Icon" width="16" height="16" />
          GitHub
          <!-- Star count will be injected here by JS -->
        </a>
        
      </nav>
    </div>
  </div>
  <div class="body">
      {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <div class="row">
      <div class="col col-6 icon-links">
        <a href="https://valkey.io/slack" target="_blank">
          <img src="/img/IconSlack.svg" alt="Slack Icon" width="20" height="20" />
          Slack
        </a>
        <a href="https://github.com/valkey-io" target="_blank">
          <img src="/img/IconGithub.svg" alt="GitHub Icon" width="20" height="20" />
          GitHub
        </a>
        <a href="https://www.linkedin.com/company/valkey/" target="_blank">
          <img src="/img/IconLinkedin.svg" alt="LinkedIn Icon" width="20" height="20" />
          LinkedIn
        </a>
        <a href="https://x.com/valkey_io" target="_blank">
          <img src="/img/IconX.svg" alt="X Icon" width="20" height="20" />
          X.com
        </a>
        <a href="/connect">
          <img src="/img/IconMail.svg" alt="Mail Icon" width="20" height="20" />
          Connect
        </a>
      </div>
      
      <div class="col col-6 links">
        <a href="/code_of_conduct">Code of Conduct</a>
        <a href="https://github.com/orgs/valkey-io/discussions" target="_blank">Forum</a>
        <a href="/about">About</a>
        <a href="/topics/faq">FAQ</a>
      </div>
    </div>

    <div class="footer_bottom">
      <p>&copy; Valkey contributors.</p>
      <p>Valkey and the Valkey logo are trademarks of LF Projects, LLC.</p>
      <p>
        <a href="https://lfprojects.org/policies/trademark-policy/">Trademark Policy</a>.
        <a href="https://lfprojects.org/policies/privacy-policy/">Privacy Policy</a>.
        <a href="https://lfprojects.org/policies/terms-of-use/">Terms of Use</a>.
        For other policies, please see <a href="https://lfprojects.org/">lfprojects.org</a>.
      </p>
      <p>Valkey includes certain 3-Clause BSD-licensed Redis code from Redis Ltd. and other source code. Redis Ltd. is
        not the source of that other source code. Redis is a registered trademark of Redis Ltd.</p>
      <p>
        Logo design by <a href="https://github.com/dizys" target="_blank">Ziyang.</a>
      </p>
    </div>
  </div>
</body>
</html>
