{% extends "right-aside.html" %}

{% block subhead_content%}
<h1 class="page-title">Download Latest</h1>
{% endblock subhead_content%}
{% block main_content %}


{% set release_section = get_section(path="download/releases/_index.md") %}
{% set most_recent_release_page = release_section.pages | reverse | slice(end= 1) %}
{% set release_date = most_recent_release_page[0].date %}
{% set release = most_recent_release_page[0].extra %}


{% include "includes/release.html" %}

<h2> Latest supported version of past releases</h2>

{% set split_ver = release.tag | split(pat=".")%}
{% set_global major = split_ver | nth(n= 0) %}

{% for older_release in release_section.pages | reverse %}
    {% set older_split_ver = older_release.extra.tag | split(pat=".")%}
    {% set older_major = older_split_ver | nth(n= 0) %}
    {% if older_major != major %}
        {% set_global major = older_major %}
        {% set release = older_release.extra %}
        {% include "includes/release.html" %}
    {% endif %}
{% endfor %}

{% endblock main_content %}