{% extends "fullwidth.html" %}

{% block subhead_content%}
{{ page.content | safe }}
{% include "includes/participants-buttons.html" %}
{% endblock subhead_content%}

{% block main_content %}

{% set participants = load_data(path="/_data/participants.yml") %}
<div class="participant-list">
  {% for participant in participants %}
    <div class="participant-{{participant.name | lower() }}">
      <a href="{{participant.link}}" class="participant-brand">
        <img src="{{participant.image.path}}" alt="{{participant.image.alt}}" />
      </a>
      <div class="participant-info">
        {% if participant.offering %}
          <h3>Valkey offering:</h3>
          {{ participant.offering | markdown | safe }}
        {% endif %}
        <h3>About the company:</h3>
        {{ participant.company | markdown | safe }}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock main_content %}
