---
layout: default
---

{% for command in site.data.commands.latest[page.title] %}
    {% assign command_name = command[0] %}
    {% assign command_lower =  command[0] | downcase %}
    {% assign command_details = command[1] %} 
    {% capture usage %}{{command_details.container }} {{ command_name }} {%  include command/arguments.html arguments_array=command_details.arguments %}{% endcapture %}
    <h1 class="page-title">{{command_details.container }} {{ command_name }}
        {% if command_details.doc_flags contains "DEPRECATED" %}
            <small>Deprecated</small>
        {% endif %}
    </h1>
    <div class="width-limiter">
        <main class="container">
            
            <dl>
                <dt>Usage:</dt>
                <dd><code>{{usage}}</code></dd>
            </dl>
            <dl>
                <dt>Complexity:</dt>
                <dd>{{ command_details.complexity }}</dd>
            </dl>
            <dl>
                <dt>Since:</dt>
                <dd>{{ command_details.since }}</dd>
            </dl>
            {% if page.description %}
                {% assign command_description_file = "commands/latest/FILE" | replace: "FILE", page.description %}
                {% capture description %}{% include {{ command_description_file }}  %}{% endcapture %}
                {{ description | replace: "@examples", "## Examples" | markdownify }}
            {% endif %}
            {% if command_details.history %}
                <h3>History</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Change</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for history_line in command_details.history %}
                        <tr>
                            <td>{{history_line[0]}}</td>
                            <td>{{history_line[1]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% endif %}
        </main>
    </div>

{% endfor %}