---
layout: default
---
{%- assign  primary_title = page.primary_title -%}
{%- comment -%}
    This template pulls in the file from `source` in the front matter.

    It detects if the script starts with front matter (delimited by `---`) by splitting and looking for the delimiter at the start of the file.
    If the delimter is detected at the top of the file, it skips the the 3rd (zero based: 2) element and iterates over the remain sections.
    If there delmiter is not detected (no front matter) it swallows the the whole file and markdownify's it.

{%- endcomment -%}
{%- capture md -%}{% include {{ page.source }} %}{%- endcapture -%}
{%- assign stripped_front_matter = md | split: "---" -%}
{%- include page_title.html -%}
<div class="width-limiter">
    <main class="container">
        {%- if stripped_front_matter[0].size == 0 -%}
            {%- for item in stripped_front_matter offset:2 -%}
                {{ item | markdownify }}
                {%- if forloop.last == false -%}
                    <hr />
                {%- endif -%}
            {%- endfor -%}
        {%- else -%}
            {{ md | markdownify }}
        {%- endif -%}
    </main>
</div>
