---
layout: default
---

{% capture content %}
<div class="section headline">
    <h1>{{ page.headline }}</h1>
</div>
<hr>
<div class="section">
    {{ content }}
</div>

{% endcapture %}

{% capture content_related %}
<div role="complementary">
    {{page.ctas.pre}} 
    {% for cta in page.download_ctas %}
    <a href="{{ cta.url }}" class="cta">
        {{ cta.text }}
    </a>
    {% endfor %}
    {{page.ctas.post}}
    {% if page.docs.url %}
    <a href="{{ page.docs.url }}" class="link-readmore">{{ page.docs.title }}</a>
    {% endif %}

    
    <div class="featured-repos">
        <h3>{{page.repos_heading}}</h3>
        <div class="sidebar-repo">
        {% for repo in site.data.repos %}
            {% if repo.featured %}
                <h4><a href="{{repo.url}}" target="_blank">{{ repo.title }}</a></h4>
                <p>{{ repo.description }}</p>
            {% endif %}
        {% endfor %}
        </div>
        <a href="{{ page.github_org }}" class="link-readmore" target="_blank">{{ page.github_org_text }}</a>
    </div>

    <div class="whats-new">
        <h3>What's new?</h3>
        {% for post in site.posts limit:5 %}
        <div class="whats-new-post">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
            <p>{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
        </div>
        {% endfor %}
        <a href="{{ '/blog' | relative_url }}" class="link-readmore">More posts</a>
    </div>

    {% for sidebar_category in page.sidebar %}
    <h3>{{sidebar_category.title}}</h3>
    <ul class="list-links-small">
        {% for link in sidebar_category.links %}
        <li><a href="{{ link.url }}">{{ link.title}}</a></li>
        {% endfor %}
    </ul>
    {% if sidebar_category.more %} <a href="sidebar_category.more.url" class="link-readmore">{{sidebar_category.more.title}}</a>
    {%endif%}
    {% endfor %}

</div>

{% endcapture %}
{% include right_aside.html %}